@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
  }
}

@layer base {
  html,
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
  * {
    @apply leading-relaxed !tracking-tight;
  }
}
